<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Crud</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(members)}">
        <h2>Member List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"><a href="/member/${member.id}">Id</a></td>
                <td th:text="${member.firstName}">firstName</td>
                <td th:text="${member.lastName}">lastName</td>
                <td><a th:href="${'/member/' + member.id}">View</a></td>
                <td><a th:href="${'/member/edit/' + member.id}">Edit</a></td>
                <td><a th:href="${'/member/delete/' + member.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>